#Home{  /*body on index page*/
    padding: 6px;
    background-color:#8cd65e;
    border-style:ridge;
    border-color:#679e45;
    font-family: "georgia", Georgia, 'Times New Roman', Times, serif

}
table {
    border-collapse: collapse;
    width: 60%;
}
th{
    padding:8px;
    text-align: left;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-bottom: 1px solid black;
}
td{
    padding:8px;
    text-align: left;
    border-bottom: 1px solid black;
}
hr{
    color:rgb(169, 169, 169);
    border-top:5px solid rgb(120, 120, 120);
    border-radius: 2.5px;
}

#species{ /*body on snakes page*/
    padding: 6px;
    background-color: rgb(241, 201, 165);
    border-style:solid;
    border-color:rgb(134, 96, 50);
    font-family: "georgia", Georgia, 'Times New Roman', Times, serif;
}
#survey{ /*body on survey page*/
    padding: 6px;
    background-color: rgb(176, 239, 255);
    border-style:ridge;
    border-color:grey;
    font-family:'Times New Roman', Times, serif;
}
#first{ /*first name entry box*/
    background-color:rgb(218, 218, 218);
}
#last{ /*last name entry box*/
    background-color:rgb(218, 218, 218);
}
/*in need of help with navbar css*/
.navbar {
    width: 100%;
    background-color: #f1f1f1;
    overflow:hidden;
  }
  .navbar a {
    float: left;
    padding: 12px;
    border-style:double;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 17px;
    width: 33.33%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
    text-align: center; /* If you want the text to be centered */
  }
  .navbar a:hover {
    background-color: #dadada;
  }
  .navbar a.active {
    background-color: #dadada;
  }
  /*make sure to ask about nav bar*/
  