#Home{  /*body on index page*/
    padding: 6px;
    background-color:#8cd65e;
    border-style:ridge;
    border-color:#679e45;
    font-family: "georgia", Georgia, 'Times New Roman', Times, serif
}
table {
    border-collapse: collapse;
    width: 60%;
}
th{
    padding:8px;
    text-align: left;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-bottom: 1px solid black;
}
td{
    padding:8px;
    text-align: left;
    border-bottom: 1px solid black;
}
.foot1 {
    background-color: #679e45;
    text-align: center;
    padding: 1rem
}

#species{ /*body on snakes page*/
    padding: 6px;
    background-color: rgb(241, 201, 165);
    border-style:solid;
    border-color:rgb(134, 96, 50);
    font-family: "georgia", Georgia, 'Times New Roman', Times, serif;
}
.mamba img {
    padding:.5rem;
  }
  .rattlesnake img {
    float: right;
    padding: 1rem;
  }
  .boa img {
    float: right;
    padding:1rem;
  }
  .python img {
    float: right;
    padding:1rem;
  }
  .facts {
    list-style-type: circle;
}
  .foot2 {
    background-color:rgb(255, 185, 123);
    text-align: center;
    padding: 1rem;
}

#survey{ /*body on survey page*/
    padding: 6px;
    background-color: rgb(176, 239, 255);
    border-style:ridge;
    border-color:grey;
    font-family:'Times New Roman', Times, serif;
}
#first{ /*first name entry box*/
    background-color:rgb(250, 250, 250);
    border-color:#2e9ba2;
}
#last{ /*last name entry box*/
    background-color:rgb(250, 250, 250);
    border-color:#2e9ba2;
}
.submit{
    background-color: #38bdc7;
    border: double color#2e9ba2;
    font-size:20px;
    font-family:'Times New Roman', Times, serif;
    color: white;
    padding: 1rem;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }
.foot3 {
    background-color: rgb(135, 231, 255);
    text-align: center;
}
/*on all pages*/
.nav-item {
    border:3px;
    font-size: 17px;
    width: 30%;
    padding: 1rem;
    margin: 0 auto;
    border-style: double;
    color:#dadada;
    background-color:#383838;
}
.navbar a:hover {
    background-color: #dadada;
    color: #383838;
  }
.navbar #active {
    background-color: #dadada;
    color: #383838;
  }
hr{
    color:rgb(169, 169, 169);
    border-top:5px solid rgb(120, 120, 120);
    border-radius: 2.5px;
}